@import url(//db.onlinewebfonts.com/c/a720be397d5933621aa9d875d9bec0ce?family=Strasua);

@font-face {font-family: "Strasua";
    src: url("//db.onlinewebfonts.com/t/a720be397d5933621aa9d875d9bec0ce.eot");
    src: url("//db.onlinewebfonts.com/t/a720be397d5933621aa9d875d9bec0ce.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a720be397d5933621aa9d875d9bec0ce.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/a720be397d5933621aa9d875d9bec0ce.woff") format("woff"),
}

body{
  margin:0;
  padding:0;
  height: 100%;
  font-family: "Strasua","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #4E00FD;
  overflow: hidden;
  background: url("../images/Captain2.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.finalscore_block{
  margin-top: 50%;
  width: 100%;
  background-color: white;
}
.finalscore{
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: #FD0000;
}
.heart_main{
  width:140px;
  height:40px;
}
.borne{
  position: absolute;
  height: 100%;
  width: 400px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #000;
/* box-shadow: 10px 10px 10px #333; */
  background: repeat url("../images/star.jpg");
}

.player_style{
  position: absolute;
  margin: auto;
  top: 82;
  left: 50;

  border: 1px solid #000;
}

.ship_image{
  position: absolute;
  margin: 0 0;
  height: 60px;
  width: auto;
}

.life{
  height: 40px;
  width: auto;
}

div.life{

}
.bullet{
  position: absolute;
  width: 5%;
}

/* First page of the game */
.titleCaptain , .titleGame, .buttonPlay {
  font-size: 40px;
}

.titleCaptain{
  color: #FD0000;
  display: flex;
  justify-content: center;
  margin-top: 98px;
}

.titleGame{
  color: #FFD700;
  display: flex;
  justify-content: flex-end;
  padding: 0px 40px;
  margin-top: 90px;
}

.starDesign, .starDesign_two{
  height: 70px;
  width: 100%;
}

.starDesign_two{
  margin-top: 70px;
}

.buttonPlay{
  display: flex;
  justify-content: center;
  color: #2810E0;
  text-decoration: none;
  border: 3px solid #2810E0;
  padding: 0px 50px;
  width: 30px;
  margin: 90px auto;
}

/*Second page of the game */

.charactersTitle, .howPlay{
  color: #FD0000;
  font-size: 20px;
}

.charactersTitle{
  margin: 20px 0px;
  padding: 30px;
}

.characMarvel , .characThanos{
  height: 80px;
  margin: 0px 30px;
}

.characShip{
  height: 40px;
  margin: 0px 5px;
}

.howPlay{
  margin: 76px 0px;
  padding: 30px;
}

.buttonGo{
  display: flex;
  justify-content: center;
 /* font-size: 20px; */
  color: #2810E0;
  text-decoration: none;
  border: 3px solid #2810E0;
  padding: 10px 20px;
  width: 70px;
  margin: 30px auto;
}

/* Shield appearing */
.shieldDesign{
  background-color:rgba(237, 211, 152, 0.3);
  border-radius: 50px;
  border: none;
  padding: 5px 10px;
  display: block;
}

/* Music */
.soundActive{
  cursor: pointer;
}
.thanos{

}
