@import url(//db.onlinewebfonts.com/c/a720be397d5933621aa9d875d9bec0ce?family=Strasua);

@font-face {font-family: "Strasua";
    src: url("//db.onlinewebfonts.com/t/a720be397d5933621aa9d875d9bec0ce.eot");
    src: url("//db.onlinewebfonts.com/t/a720be397d5933621aa9d875d9bec0ce.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a720be397d5933621aa9d875d9bec0ce.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/a720be397d5933621aa9d875d9bec0ce.woff") format("woff"),
}

body{
  margin:0;
  padding:0;
  font-family: "Strasua","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #4E00FD;
  overflow: hidden;
  background: url("../images/Captain2.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.heart_main{
  width:140px;
  height:40px;
}
.borne{
  position: absolute;
  height: 100%;
  width: 400px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #000;
/* box-shadow: 10px 10px 10px #333; */
  background: repeat url("../images/star.jpg");
}

.player_style{
  position: absolute;
  margin: auto;
  top: 82;
  left: 50;

  border: 1px solid #000;
}

.ship_image{
  position: absolute;
  margin: 0 0;
  height: 60px;
  width: auto;
}

.life{
  height: 40px;
  width: auto;
}

div.life{

}
.bullet{
  position: absolute;
  margin: auto;
  width: 5%;
}

/* titre page 1 du jeu (function gameOne)*/
.titleCaptain{
  color: #FD0000;
}

.titleGame{
  color: #FFD700;
}

/*
.starDesign, .starDesign_two{
  height: 50px;
  width: auto;
}

.starDesign_two{
  display: flex;
  justify-content: flex-end;
}
*/
